body{
    background: silver;
}

#header{
    padding: 20px;
    background: gold;
}

#content{
    background: #fff;
    padding: 20px;
}

#footer{
    background: green;
    padding: 20px;
}

#before{
    padding: 10px;
    float: left;
    width: 47%;
    border: 2px solid black;
    border-radius: 5px;
}

#after{
    padding: 10px;
    float: right;
    width: 47%;
    border: 2px solid black;
    border-radius: 5px;
}

#clear{
    clear: both;
}

a:link{
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}


